.square {
  background-color: aqua;
  font-size: 20px;
  height: 75px;
  width: 75px;
  justify-content: center;
  align-items: center;
  margin: 0px;
  /* align-content: space-around; */
}

.titles {
  margin-left: 400px;
  margin-right: 400px;
}

.status {
  text-decoration: underline;
}

.status, h1{
  color: aqua 

}

h1 {
 margin-bottom: 0px;
}

h5 {
margin :0;
font-style: italic;
}

  .square{
    animation: App-logo-spin infinite 20s linear;
  }

.status {
  margin: 50px;
}
.reset-button {
margin: 50px;
  height:50x;
  width: 100px;
  background-color: aqua ;
  justify-content: center;
  align-items: center;
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  
}

/* .grid-container {
  display: grid;
} */

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
